*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('https://www.tripsavvy.com/thmb/pT_ZAje6cYUx8w2b4nsCk3FrxRU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/car-traveling-along-winding-road--maui--hawaii--america--usa-737142515-9d7096b173654472968075d805273c8f.jpg');
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: #322f2fc1;
    color: white;
    padding: 11px;
}

.nav img{
    width: 8%;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 2px;

}

.nav .left{
    display: flex;
     
}
.left p{
    margin-inline: 22px;
    margin-top: 14px;
     

}
.nav .right{
    display:flex ;
}
.right p{
    margin-inline: 22px;
    margin-top: 11px;
}
.right  i{
color: rgb(0, 0, 0);
margin-top: 11px;
font-size: 20px;
}
.login{
    width: 80px;
    height: 45px;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    border-color: transparent;
}
.signup{
    width: 80px;
    height: 36px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: 600;
    margin-top: 3px;
}
 
.signup:hover{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border: 2px solid whitesmoke;
    cursor: pointer;
}
.main{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1550px  ;
    margin-top: 0px;
}

.card{
    width: 440px;
    height: 400px;
    background-color: #322f2fc1;
    margin-left:550px;
    margin-top: 50px;
}
 
.card .ride {
    display: flex;
   border-bottom: 1px solid #a7e92f;
   text-align: center;
   color:#ffffff;

}
.ride .car{
    margin-inline: 96px;
    margin-top: 12px; 
    cursor: pointer;
    padding: 7px;
    margin-left: 30px;  
}
.selected {
    border-bottom: 4px solid #a7e92f;
}

.card .ride i{
    font-size: 20px;
}
.card h1{
   padding: 25px;
    margin-left: 33px;
    color:#ffffff;

}
.card input{
    margin-top: 7px;
    margin-left: 55px;
    width: 330px;
    height: 30px;
    background-color: rgb(245, 245, 245);
    padding: 5px;
}
.card .btn{
    display: flex;
    margin-left: 44px;
    margin-top: 30px;
}
.card .btn .req{
    margin-inline: 15px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: #a7e92f;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.card .btn button{
    margin-inline: 11px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.card .btn button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn .req:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.uber-ride h1{
    font-size: 40px;
    padding: 32px;
}
.uber-ride .go{
    display: flex;
  justify-content:center ;
    justify-content: space-around;
}
.uber-ride .go .auto{
    display: flex;
    padding:22px ;
}
.uber-ride .go .auto img{
    margin-inline: 22px;
     width: 43%;
}
.uber-ride .go .auto h3{
    margin-top: 25px;
}
.head h1{
    padding: 33px;
    font-size: 35px;
}
.cards {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.down h1{
    padding: 33px;
    font-size: 33px;
}

.down{
    background-color: rgb(240, 237, 237);
    margin-top: 22px;
    
}
.down .lode{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 33px;
}

.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    padding: 44px;
    margin-top: 33px;
    color: white;
}