<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Cars - Bequem Voyage</title>
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="nav">
        <div class="left">
            <img src="{% static 'media/bv.svg' %}" alt="">
            <p>Learn More</p>
            <p>Help</p>
        </div>
    </div>

    <div class="header">
        <h1>List of Cars</h1>
    </div>

    <div class="car-list">
        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1606611013016-969c19ba27bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Car 1">
            <h2>Ford</h2>
            <p>Seater Capacity: 4</p>
            <p>AC: Yes</p>
            <p>Multimedia: Yes</p>
            <p>Driver: <a href="/profile/sudhin">Sudhin S</a></p>
        </div>

        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1614491001156-427a045f94f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Car 2">
            <h2>Toyota</h2>
            <p>Seater Capacity: 6</p>
            <p>AC: Yes</p>
            <p>Multimedia: No</p>
            <p>Driver: <a href="/profile/dhanush">Dhanush Krishna R</a></p>
        </div>

        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1605816988069-b11383b50717?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1188&q=80" alt="Car 3">
            <h2>Honda</h2>
            <p>Seater Capacity: 4</p>
            <p>AC: No</p>
            <p>Multimedia: Yes</p>
            <p>Driver: <a href="/profile/athul">Athul Gireesh</a></p>
        </div>
        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1501066927591-314112b5888e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Car 1">
            <h2>Benz</h2>
            <p>Seater Capacity: 4</p>
            <p>AC: Yes</p>
            <p>Multimedia: Yes</p>
            <p>Driver: <a href="/profile/nanditha">Nanditha</a></p>
        </div>

        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1568643496281-1303889fb4af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=415&q=80" alt="Car 2">
            <h2>Bmw</h2>
            <p>Seater Capacity: 6</p>
            <p>AC: Yes</p>
            <p>Multimedia: No</p>
            <p>Driver: <a href="/profile/gps">GPS</a></p>
        </div>

        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1639968978892-384aac8c7e83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Car 3">
            <h2>Lambo</h2>
            <p>Seater Capacity: 4</p>
            <p>AC: No</p>
            <p>Multimedia: Yes</p>
            <p>Driver: <a href="/profile/ghruv">Dhruv RK</a></p>
        </div>

        <div class="car-card">
            <img src="https://images.unsplash.com/photo-1628901341130-4f2255b326f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="Car 3">
            <h2>Rolls Royce</h2>
            <p>Seater Capacity: 4</p>
            <p>AC: No</p>
            <p>Multimedia: Yes</p>
            <p>Driver: <a href="/profile/adithya">Adithya S Nair</a></p>
        </div>
    </div>

    <script src="{% static 'js/cars.js' %}"></script>
</body>
</html>
